# Activation de la réécriture du moteur du serveur Apache

RewriteEngine On

    # Si ce dossier est chargé par un client,
    # redirigeons le automatiquement vers le dossier public

    RewriteRule ^(.*)$ public/index.php